{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <link rel="stylesheet" href="{% static '/chatbot/css/style.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/chatbot/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static '/chatbot/js/bootstrap.bundle.min.js' %}"></script>
  </head>

  <body>
    <section class="chatbot">
      <header class="chatbot-header">
        <div class="chatbot-header-title">
          <h4><i class="fa-solid fa-robot"></i> Chatbot</h4>
        </div>
        <div class="btn-group" role="group" aria-label="Bot type">
          <input type="radio" class="btn-check" name="btnradio" id="chat" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="chat">Chat</label>

          <input type="radio" class="btn-check" name="btnradio" id="assistant" autocomplete="off">
          <label class="btn btn-outline-primary" for="assistant">Assistant</label>
        </div>
        <div class="chatbot-header-clear">
          <button class="btn btn-primary" type="submit"><i class="fa-solid fa-trash"></i></button>
        </div>
      </header>

      <main class="chatbot-chat">
        <div class="msg left-msg">
          <div class="msg-img">
            <i class="fa-solid fa-robot fa-2xl"></i>
          </div>

          <div class="msg-box">
            <div class="msg-info">
              <div class="msg-info-name">Bot</div>
              <div class="msg-info-time">{{ current_time }}</div>
            </div>

            <div class="msg-text">
              Hi, welcome to Chatbot! Go ahead and send me a message. 😄
            </div>
          </div>
        </div>
      </main>

      <div class="container text-center">
        <form class="row chatbot-form" method="POST">
          {% csrf_token %}
          <div class="col">
            <input type="text" class="form-control chatbot-input" placeholder="Enter your message...">
          </div>
          <div class="col-1 chatbot-send-box">
            <button class="btn btn-primary chatbot-send-btn" type="submit">Send</button>
          </div>
        </form>
      </div>
    </section>
    <!-- To run the JavaScript file script.js after the HTML document has fully loaded -->
    <script src="{% static '/chatbot/js/script.js' %}"></script>
  </body>
</html>
