:root {
  --chatbot-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #33333;
  background-image: linear-gradient(to bottom, #333333, #666);
  font-family: Helvetica, sans-serif;
}

.chatbot {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--chatbot-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.chatbot-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.chatbot-header-title h4 {
  margin-bottom: unset;
  line-height: unset;
}

.chatbot-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.chatbot-chat::-webkit-scrollbar {
  width: 6px;
}
.chatbot-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.chatbot-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.msg-box {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-box {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-box {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.chatbot-form {
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}

.chatbot-form * {
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.chatbot-send-box {
  margin-right: 15px;
}

.chatbot-send-btn:hover {
  background: #398dfa;
}

.chatbot-chat {
  background-color: #fcfcfe;
}